.region{
    min-width:  270px !important;
    padding: 0px !important;
}

.withSelect td{
    padding: 0px !important;
    overflow: visible !important;
}

.withSelect select{
    width: 100%;
    transition: .3s;
    height: 100%;
    border: none;
    outline: none !important;
    z-index: 200;
    cursor: pointer;
    padding: 5px !important;
    text-align: center !important;
}


.withSelect select:hover{
    filter: drop-shadow(2px -5px 3px #00000077);
    border: none !important;
}
.withSelect select:hover ~ span{
    opacity: 1;
    transform: rotateX(0deg);
}

.withSelect td{
    position: relative;
}

.withSelect  span{
    position: absolute;
    top: -24px;
    border-radius: 10px 10px 0px 0px;
    left: 0px;
    color: black;
    padding: 3px 10px;
    opacity: 0;
    transition: .5s;
    transform: rotateX(100deg);
    background: white;
    filter: drop-shadow(2px -5px 3px #00000077);
}

.stringContent{
    min-width: 200px !important;
}