.navigation{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background:rgb(47, 149, 233);
    width: 100%;
    text-align: center;
    box-shadow: 0 0  15px rgba(0, 0, 0, 0.5);
}

.navigation a{
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none !important;
    background: rgb(47, 149, 233);
    padding: 10px 15px;
    margin-right: 1px;
    box-shadow: 1px 0px rgba(255,255,255,0.2);
    transition: .2s;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.navigation a i{
    margin-right: 5px;
}
.navigation a:hover{
    transform: scale(1.1);   
    background: rgb(3, 243, 151);
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.2); 
    border-radius: 10px;
}