@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html,body{
  background: linear-gradient(135deg,lightblue,rgb(48, 79, 216)) no-repeat !important;
  background-size: 100% 100%;
}
.table{
  width: 94% !important;
  margin: 20px auto;
  background:linear-gradient(-135deg, rgb(0, 116, 100), rgb(0, 139, 182));
  border-radius: 10px !important;
  height: 95vh;
  padding: 20px !important;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.4s);
}

.table>div{
  overflow: scroll;
  height: 92vh;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background: lightgray;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb{
  background: rgb(0, 68, 255);
  border-radius: 100px;
}
td{
  background: white;
  padding: 5px;
  border: 1px solid black !important;
}